@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap");
.header {
  /* background-color: rgb(102, 213, 216); */
  background-color: rgba(255, 255, 255, 0.941);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.7rem 5rem;
  box-shadow: rgb(27, 195, 207) 0px 1px 20px 1px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
.theNav {
  display: flex;
}

.icons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  order: 4;
}
.iconItem {
  transition: 0.4s ease-in-out;
}
.iconItem:hover {
  cursor: pointer;

  transform: scale(1.1);
}
.icons > * {
  margin: 0 0.5rem;
}

.logo {
  flex: 1;
  font-size: 2.2rem;
  font-family: "Mouse Memoirs";
  font-weight: 300;
  margin-left: 2rem;
  cursor: pointer;
  /* transition: 1s ease-in-out; */
}

.logo a:hover {
  color: rgb(3, 177, 180);
  box-shadow: 0 0 5px 5px rgb(3, 177, 180);
  padding: 0.5rem;
}
.logo a {
  text-decoration: none;
  color: black;
  transition: 0.3s ease-in-out;
}

.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 0.7rem;
}
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.7rem;
  position: relative;
}
.cart span {
  margin-left: 0.5rem;
}
.cart a {
  color: black;
}
ul {
  display: flex;
  /* justify-content: space-between; */
}

nav ul {
  display: flex;
  width: 30rem;
  align-items: center;
  margin: 1rem;
  margin-right: 17rem;
  justify-content: space-between;
  /* background-color: rebeccapurple; */
}

nav ul li {
  list-style: none;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 300;
  color: rgb(4, 126, 156);
}
nav ul li a {
  text-decoration: none;
}
nav ul li:hover {
  cursor: pointer;
  color: black;
}
.link {
  text-decoration: none;
  color: rgb(4, 126, 156);
}
.link:hover {
  cursor: pointer;
  color: black;
}

.signin a {
  color: black;
}
.cartTotal {
  color: white;
  position: absolute;
  top: 0;
  left: 2rem;
  background-color: red;
  width: 1rem;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.spinner {
  color: rgb(102, 213, 216);
  box-shadow: 0 0 5px 5px rgb(102, 213, 216);
  margin: 5rem 47rem;
}
.username {
  color: white;
  border-radius: 5px;
  background-color: rgb(60, 150, 154);
  height: 100%;
  padding: 0.3rem;
  font-size: 0.8rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.dropdown {
  display: none;
  padding: 1rem;
}
.dropdown li {
  margin: 0.5rem 0;
  font-family: "poppins";
  font-size: 0.95rem;
  cursor: pointer;
}
.dropdown li a {
  text-decoration: none;
  list-style: none;
}
.dropdown li:hover {
  color: rgb(97, 97, 97);
  text-decoration: none;
  list-style: none;
  font-style: italic;
}
nav ul li:hover > ul {
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.963);
  border-radius: 5px;
  width: 10rem;
  margin-top: 0;
  margin-left: 0;
  padding-top: 0.3rem;
  /* transition: 3s ease; */
}

@media only screen and (max-width: 600px) {
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.7rem 0 0 0;
    /* justify-content: center; */
  }
  ul a {
    margin: 1rem;
    font-size: 70%;
  }
  .icons {
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    margin-right: 5rem;
  }

  .logo {
    font-size: 1.7rem;
    /* margin-right: auto; */
    width: 100%;
    text-align: center;
    margin: 0rem 0 -0.6rem 0;
  }
  .theNav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    /* flex-direction: column; */
    /* margin-left: 0rem; */
  }
  nav ul {
    display: flex;
    justify-content: flex-start;
    width: 0rem;
    /* margin-right: 15rem; */
    margin-left: 4rem;
  }
  nav ul li:nth-child(2) {
    font-size: 0.8rem;
    margin-top: 0.2rem;
  }
  nav ul li:hover > ul li {
    /* background-color: rebeccapurple; */
    margin: -0.5rem 0 -0.1rem 0;

    font-size: 0.8rem;
    /* position: absolute; */
  }
  nav ul li:hover > ul {
    /* padding: -3rem auto; */
    height: 7rem;
    width: 25%;
  }
  .iconItem {
    width: 2rem;
  }
  .icons span {
    margin-top: -10px;
    font-size: 80%;
  }
  .signin span {
    /* margin-top: -5rem; */
    position: absolute;
    margin-top: 35px;
  }
  .cartTotal {
    left: 1.3rem;
    top: 0.3rem;
    font-size: 90%;
  }
  .header .logo {
    font-size: 1.5rem;
  }
}

@media (min-width: 610px) and (max-width: 1200px) {
  header {
    background-color: red;
    flex-direction: column;
    margin: 0;
  }
  nav ul {
    flex-direction: column;
    margin: 0;
  }
}
