.img {
  width: 10%;
}
.deleteIcon {
  color: red;
}
.deleteIcon:hover {
  cursor: pointer;
}
.cartContainer {
  width: 60%;
  background-color: rgba(246, 252, 251, 0.603);
  margin: auto;
  margin-top: 2rem;
  padding: 1rem 0rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  font-family: "monaco";
}
.img {
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
}
.itemRow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  height: 7rem;
}

.buyBtn {
  width: 15rem;
  height: 3rem;
  position: relative;
  font-size: 1rem;
  padding: 7px;
  background: none;
  background-color: rgb(5, 196, 203);
  border: none;
  font-family: "poppins";
  margin: 1rem;
  transition: 1s ease;
}
.buyBtn:hover {
  cursor: pointer;
  background-color: rgb(0, 136, 91);
  color: white;
}

.totalBtn {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}
.select {
  width: 2.7rem;
  padding: 0.1rem;
  border: none;
  outline: none;
  font-family: "poppins";
  background-color: rgb(119, 250, 255);
  color: black;
  border-radius: 5px;
}

@media (max-width: 700px) {
  .img {
    width: 20%;
  }
  .cartContainer {
    width: 90%;
    height: 70vh;
  }
}
